{% extends "master.html" %}
{% load static %}
{% block title %}
  Player Metrix
{% endblock %}


{% block content %}

    <h1>About Us</h1>

    <div class="shadow p-4 mb-4 bg-white">

        <h4>Why PM was created</h4> 

        <P>In early 2022 we realized gaps in the baseball metrics market including a limited number of events to receive “certified” player data and because they are offered by large organizations the costs are prohibitive. Additionally, these events will subjectively promote a small number of players leaving the majority without the same exposure. 


        <P>It was then Player Metrix was formed and started bringing high-quality baseball events to North Carolina. These workouts provide players ages 13 and up the ability to have their skills tracked in key analytics that travel, showcase, high school and college coaches use to determine abilities. Each player is measured on metrics including the 60 yard dash, IF/OF throwing velocity, hitting velocity, pitch velocity, height/weight and more.</P>

        <h4>Why analytics matter</h4> 

        <p>More than ever baseball coaches rely on analytics to evaluate a player’s potential. In order to attract attention, stay relevant and get to the next level players should be getting their key metrics updated often and showing progression. 
    </div>        

{% endblock %}