{% extends "master.html" %}
{% load static %}
{% block title %}

    {% if playerevents == 0 %}
      Player Metrix - {{ playername.firstName }} {{ playername.lastName }}
    {% else %}
      Player Metrix - {{ playername.player.firstName }} {{ playername.player.lastName }}
    {% endif %}  

{% endblock %}

{% block content %}


<!-- If player has no events -->

{% if playerevents == 0 %}


    
    <h1 class="text-center">{{ playername.firstName }} {{ playername.lastName }}</h1>
    
    <h3 class="text-center">Hometown: {{ playername.city }}, {{ playername.state }}<br>
      High School/Grad Year: {{ playername.highSchool }} ({{ playername.gradYear }})<br>
      Throws: {{ playername.throws }} / Hits: {{ playername.hits }}<br>
      Positions: {{ playerpositions }}<br>
      <a target="_blank" href="https://instagram.com/{{ playername.instagramUser }}"><i class="fa-brands fa-instagram fa-lg"></i></a>&nbsp;<a target="_blank" href="https://x.com/{{ playername.xUser }}"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
    
    </h3>
      
      <img class="rounded mx-auto d-block p-2" src="/media/{{playername.picture}}" width="240px">
      
    
<!-- If player has events -->

{% else %}
  

      <h1 class="text-center">{{ playername.player.firstName }} {{ playername.player.lastName }}</h1>
  
      <h3 class="text-center">Hometown: {{ playername.player.city }}, {{ playername.player.state }}<br>High School/Grad Year: {{ playername.player.highSchool }} ({{ playername.player.gradYear }})<br>
      Throws: {{ playername.player.throws }}  Hits: {{ playername.player.hits }}<br>
      Positions: {{ playerpositions }}<br>
      <a target="_blank" href="https://instagram.com/{{ playername.player.instagramUser }}"><i class="fa-brands fa-instagram fa-lg"></i></a>&nbsp;<a target="_blank" href="https://x.com/{{ playername.player.xUser }}"><i class="fa-brands fa-x-twitter fa-lg"></i></a>
      <img class="rounded mx-auto d-block p-2" src="/media/{{playername.player.picture}}" width="240px">
      
      

{% endif %}  


  


<script>
      var counter = 0;
      const events = [];

    </script>

<!-- Events tabs -->

    <ul class="nav nav-tabs justify-content-center" role="tablist"> 

      
        {% for x in playerinfo %}
          
          
            <li class="nav-item">
              
                <a onclick="javascript:changetab({{ x.event.id }})" class="nav-link" id="eventlink{{ x.event.id }}" data-bs-toggle="tab" href="#{{ x.event.id }}"><h4>{{ x.event }}</h4></a>
              
            </li>
           <script>
              //add an event to events array
              events.push({{ x.event.id }});
          
           </script> 
        {% endfor %}
       
    </ul>

    


    <div class="tab-content">

      {% for x in playerinfo %}
        <div id="{{ x.event.id }}" class="container tab-pane bg-light">
          <script>
              if (counter < 1)  {
                  var eventid = {{ x.event.id }};
                  counter++;
              }
              
          </script>
        
            <div class="row bg-light">
              <div id="{{ x.event.id }}height" title={{ x.height }} class="col-lg-6 p-4">
                  <div class="shadow p-4 mb-4 bg-light text-center"><h4>Height</h4><h2>{{ x.height }} in</h2></div>
              </div>
              <div id="{{ x.event.id }}weight" title={{ x.weight }} class="col-lg-6 p-4">
                <div class="shadow p-4 mb-4 bg-light text-center"><h4>Weight</h4><h2>{{ x.weight }} lbs</h2></div>
              </div>
            </div>
            <div class="row bg-light">
              <div id="{{ x.event.id }}ifvelo" title={{ x.ifVelo }} class="col-lg-4 p-4">
                <div class="shadow p-4 mb-4 bg-light text-center"><h4>IF VELO</h4><h2>{{ x.ifVelo }} mph</h2></div>
              </div>
              <div id="{{ x.event.id }}ofvelo" title={{ x.ofVelo }} class="col-lg-4 p-4">
                <div class="shadow p-4 mb-4 bg-light text-center"><h4>OF VELO</h4><h2>{{ x.ofVelo }} mph</h2></div>
              </div>
              <div id="{{ x.event.id }}exitvelo" title={{ x.exitVelo }} class="col-lg-4 p-4">
                <div class="shadow p-4 mb-4 bg-light text-center"><h4>EXIT VELO</h4><h2>{{ x.exitVelo }} mph</h2></div>
              </div>
              
            </div>
            <div class="row bg-light">
              <div id="{{ x.event.id }}sixtyyard" title={{ x.sixtyyard }} class="col-lg-4 p-4">
                <div class="shadow p-4 mb-4 bg-light text-center"><h4>60 YARD</h4><h2>{{ x.sixtyyard }} sec</h2></div>
              </div>
              <div id="{{ x.event.id }}maxfb" title={{ x.maxFB }} class="col-lg-4 p-4">
                <div class="shadow p-4 mb-4 bg-light text-center"><h4>MAX FASTBALL</h4><h2>{{ x.maxFB }} mph</h2></div>
              </div>
              <div id="{{ x.event.id }}changeup" title={{ x.changeUp }} class="col-lg-4 p-4">
                <div class="shadow p-4 mb-4 bg-light text-center"><h4>CHANGEUP</h4><h2>{{ x.changeUp }} mph</h2></div>
              </div>
            </div>
            <div class="row bg-light">
              <div class="col-lg-4 p-4">
                <div id="{{ x.event.id }}curve" title={{ x.curve }} class="shadow p-4 mb-4 bg-light text-center"><h4>CURVE</h4><h2>{{ x.curve }} mph</h2></div>
              </div>
              <div class="col-lg-4 p-4">
                <div id="{{ x.event.id }}cvelo" title={{ x.cVelo }} class="shadow p-4 mb-4 bg-light text-center"><h4>CATCHER VELO</h4><h2>{{ x.cVelo }} mph</h2></div>
              </div>
              <div class="col-lg-4 p-4">
                <div id="{{ x.event.id }}slider" title={{ x.slider }} class="shadow p-4 mb-4 bg-light text-center"><h4>SLIDER</h4><h2>{{ x.slider }} sec</h2></div>
              </div>
              <div class="col-lg-4 p-4">
                <div id="{{ x.event.id }}poptime" title={{ x.popTime }} class="shadow p-4 mb-4 bg-light text-center"><h4>POP TIME</h4><h2>{{ x.popTime }} sec</h2></div>
              </div>
            </div>
        </div>
      {% endfor %}
    </div>

    <script>

        function changetab(eventid)  {
          document.getElementById("eventlink" + eventid).className="nav-link bg-light active";
          
        }  

        document.getElementById("eventlink" + eventid).className="nav-link bg-light active";
        document.getElementById(eventid).className="container tab-pane active";
        
        
        const metrics = ["height", "weight", "ifvelo","ofvelo","exitvelo","sixtyyard","maxfb","changeup","curve","slider","cvelo","poptime"];
          
              
            for (let u = 0; u < events.length; u++) {
                
                for (let i = 0; i < metrics.length; i++) {
                  thevalue = (events[u]+metrics[i]);
                    //alert(thevalue);
                    if (document.getElementById(thevalue).title == 0) {
                      document.getElementById(thevalue).style.display = 'none';
                  }
                  
                }

            }
          

        
          
      

    </script>
    
{% endblock %}