{% extends "master.html" %}
{% load static %}

{% block title %}
  Player Metrix - Blog
{% endblock %}


{% block content %}
    
    
<div class="row">
  <div class="my-4"><h1>Blog</h1>
  </div>
   
</div>
{% for x in allPosts %}
    <div class="row border-bottom g-12 py-2 row-cols-1 row-cols-lg-2 align-center">
            
        <div class="col">
            <h2><a class="link-secondary link-offset-2 link-underline-opacity-0" href="{{ x.slug }}">{{ x.title }}</a></h2>
            <i class="fa-regular fa-calendar"></i> {{ x.date }}
            <h4>{{ x.details|slice:"0:200" }}.....</h4>

        </div>
        
        
          <div class="col">
            <img class="rounded mx-auto d-block p-2" src="{% static "images/blog/"%}{{x.id}}.jpg" width="300px">
          </div>
        

    </div>
 {% endfor %}
      
   
{% endblock %}