{% extends "master.html" %}

{% block title %}
  Player Metrix - Events
{% endblock %}


{% block content %}
    
<div class="row">
  <div class="my-4"><h1>Events</h1>
  </div>
    
<div class="row">
  <div class="my-4"><h1>Events</h1>
  </div>
   
</div>
{% for x in allevents %}
    <div class="row border bg-light g-12 py-2 row-cols-2 row-cols-lg-4 align-center">
            
        <div class="col">
        <h2>{{ x.title }}</h2>
        </div>
        <div class="col">
        <h4>{{ x.location }}</h4>
        </div>
        <div class="col">
          <h4>{{ x.date }}</h4>
          </div>
        <div class="col-md-auto">
        {% if x.registration == True  %}
                        <a class="btn btn-primary" href="{{ x.id }}">Details / Register</a>
        {% endif %}

        </div>

    </div>
 {% endfor %}
      
   
{% endblock %}