{% extends "master.html" %}

{% block title %}
  Player Metrix - All Players
{% endblock %}


{% block content %}


 
<div class="row">
  <div class="my-4"><h1>Players</h1>
  </div>
   
</div>

<table id="players" class="display" style="width:100%">
  <thead>
    <tr>
        <th>Player</th>
        <th>High School</th>
        <th>Grad Year</th>
        <th></th>
    </tr>
</thead>

<tbody>
  {% for x in allplayers %}

      <tr>
        
              <td>
                <h2>{{ x.firstName }} {{ x.lastName }}</h2>
              </td>
              <td>
                <h4>{{ x.highSchool }}</h4>
              </td>
              <td>
                <h4>{{ x.gradYear }}</h4>
              </td>
              <td>
                <a class="btn btn-primary" href="{{ x.slug }}">Details</a>
              </td>

      </tr>
  {% endfor %}


</tbody>


</table>





{% endblock %}