.custom-class {
  display:none;
}

.eventdetailsheader
{

  padding-top: 5px;
  padding-bottom: 50px;

}

.floating-box {
  float: left;
  width: 240px;
  height: 150px;
  margin: 10px;
  border: 3px solid #73AD21;  
}


@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {


}	

